<!-- (2)[desktop: generate random art section] -->
<section class='generateRandomArt'>
	<section>
		<img
			srcset='{{sliceUrl randomArt.webImage.url}}=s500 500w, {{sliceUrl
				randomArt.webImage.url
			}}=s750 750w, {{sliceUrl randomArt.webImage.url}}=s1000 1000w'
			sizes='(max-width: 600px) 500px, (max-width: 1000px) 750px, 1000px'
			src='{{sliceUrl randomArt.webImage.url}}=s750'
			alt='{{randomArt.longTitle}}'
		/>
		<div></div>
		<div>
			<h2>{{randomArt.title}}</h2>
			<p>{{randomArt.principalOrFirstMaker}}</p>
		</div>
	</section>
	<form method='get'>
		<button type='submit' name='fetchRandomArt'>
			{{#if (eq language 'nl')}}
				<p>Genereer een willekeurig kunstwerk</p>
			{{else}}
				<p>Generate a random art piece</p>
			{{/if}}
			<img
				draggable='false'
				src='/uploads/arrow-right.svg'
				alt='Arrow icon inside of a button for generating a random piece of art, click the button to explore a random work of art from the collection.'
			/>
		</button>
	</form>
</section>