<article class='artItemContainer'>
	<a href='/art'>< back to all results</a>
	<div>
		<img src='{{artData.webImage.url}}' alt='{{artData.longTitle}}' />
		<div>
			<h2>{{artData.title}}</h2>
			<p>{{artData.principalOrFirstMaker}}</p>
			<p>{{artData.subTitle}}</p>
			<p>{{artData.plaqueDescriptionEnglish}}</p>
		</div>
	</div>
</article>