<h1>Rijksmuseum Art Online</h1>

<!-- (1)[mobile][desktop: search section] -->
<section class='mainContent'>
	<section class='staticInfo'>
		<header>
			<img draggable='false' src='/uploads/logoRijksmuseum.svg' alt='Rijksmuseum logo' />
		</header>
	</section>

	<section class='colorFilter'>
		<section>
			<form action="/colorfilter" method='get'>
				<div>
					<p>Clear color/search selection</p>
					<button type="submit" name="fetchRandomColor">Search on color</button>
				</div>
				<div>
					<input type='radio' name='color' id='color-1' value='000000' />
					<input type='radio' name='color' id='color-2' value='737c84' />
					<input type='radio' name='color' id='color-3' value='b5bfcc' />
					<input type='radio' name='color' id='color-4' value='f6ecf3' />
					<input type='radio' name='color' id='color-5' value='dda5aa' />
					<input type='radio' name='color' id='color-6' value='f49b7a' />
					<input type='radio' name='color' id='color-7' value='df4c93' />
					<input type='radio' name='color' id='color-8' value='de4153' />
					<input type='radio' name='color' id='color-9' value='981313' />
					<input type='radio' name='color' id='color-10' value='b35a1f' />
					<input type='radio' name='color' id='color-11' value='e09714' />
					<input type='radio' name='color' id='color-12' value='ffeb00' />
					<input type='radio' name='color' id='color-13' value='fbf6e1' />
					<input type='radio' name='color' id='color-14' value='e0cc91' />
					<input type='radio' name='color' id='color-15' value='62ad77' />
					<input type='radio' name='color' id='color-16' value='2f4f4f' />
					<input type='radio' name='color' id='color-17' value='4279db' />
					<input type='radio' name='color' id='color-18' value='8268dc' />
					<input type='radio' name='color' id='color-19' value='4019b1' />
					<input type='radio' name='color' id='color-20' value='850085' />

					<label for='color-1'><div></div></label>
					<label for='color-2'><div></div></label>
					<label for='color-3'><div></div></label>
					<label for='color-4'><div></div></label>
					<label for='color-5'><div></div></label>
					<label for='color-6'><div></div></label>
					<label for='color-7'><div></div></label>
					<label for='color-8'><div></div></label>
					<label for='color-9'><div></div></label>
					<label for='color-10'><div></div></label>
					<label for='color-11'><div></div></label>
					<label for='color-12'><div></div></label>
					<label for='color-13'><div></div></label>
					<label for='color-14'><div></div></label>
					<label for='color-15'><div></div></label>
					<label for='color-16'><div></div></label>
					<label for='color-17'><div></div></label>
					<label for='color-18'><div></div></label>
					<label for='color-19'><div></div></label>
					<label for='color-20'><div></div></label>
				</div>

			</form>
		</section>
		{{! <div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div> }}
	</section>

	<section class='loadingData'>
		<ul>
			{{#each colorData}}
				<li>
					<a href='/artItem/{{this.objectNumber}}' aria-label='view details of {{this.title}}'>
						<figure>
							<img src='{{this.webImage.url}}' alt='{{this.longTitle}}' />
						</figure>
						<div>
							<h2>{{this.title}}</h2>
							<p>{{this.principalOrFirstMaker}}</p>
						</div>
					</a>
				</li>
			{{/each}}
		</ul>
	</section>
</section>